:root{
    --dark: #bbbf86;
    --light: #f7eff6;
}

body{
    margin: 3%;
    background-color: var(--dark);
    color: var(--light);
}
header{
    display: flex;
    flex-wrap: wrap;
}

.banner{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

section{
    border-style:groove;
    margin: 0 6%;
}

li{
    list-style-type: none;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
}

li a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}