:root{
    --dark: #bbbf86;
    --light: #f7eff6;
    --darkFill: #61768d;
    --hoverColor: #40159e; 
    font-family: 'Raleway', serif;
}

body{
    margin: 3%;
    background-color: var(--dark);
    color: var(--light);
}
section{
    border-style:groove;
    margin: 2% 6%;
    padding: 3%;
    background-color: var(--darkFill);
}

li:hover{
    color: var(--hoverColor);
}

/* header section */
header{
    display: flex;
    flex-wrap: wrap;
}

header h1{
    align-content: center;
}

header ul{
    position: absolute;
    right: 0;
}
li{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 20px;
}

li a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

/* Banner section */
.banner{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner img{
    position:absolute;
}

.banner-text{
    /* position:absolute; */
    z-index: 2;
}

/* About Me section */
/* .about{
    
} */

.about img{
    height: 400px;
    border-radius: 15px;
}

/* Projects Section */
.projects img{
    opacity: 0.5;
}
.projects img:hover{
    opacity: 1;
}

/* Contact Me Section */
